*.pth
debug/
env/
env314t/
env3.12/
Arnold/
wandb/
agent_playback/
checkpoints/
_vizdoom.ini
vae_*
*.pdf

*.DS_Store

*.png
*.json
doom_dataset_processed/


*.txt
!requirements.txt
test/
old_debugs/
LPM_exploration/
ViZDoom/
screens/
_vizdoom/

# WAD files (copyrighted game files)
*.WAD
*.wad

# Python
__pycache__/
*.py[cod]
*.egg-info/
